/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}

#corps {
  max-width: 900px;
  margin: 0px;
  display: grid;
  grid-template-areas:  "bando bando"
                        "personnes messages"
                        "personnes nouveauMessage";
  grid-template-columns: 30% 70%;
  /*grid-template-rows: 20% 30% 60%;*/
}

app-bando {
  margin: 5px;
  padding: 5px;
  border: solid black;
  border-radius: 10px ;
  grid-area: bando;
  text-align: center;
}

app-list-personnes {
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  margin: 5px;
  padding: 5px;
  border: solid black;
  border-radius: 10px;
  grid-area: personnes;
}

app-list-messages {
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  margin: 5px;
  padding: 5px;
  border: solid black;
  border-radius: 10px;
  grid-area: messages;
}

app-nouveau-message {
  margin: 5px;
  padding: 5px;
  border: solid black;
  border-radius: 10px;
  grid-area: nouveauMessage;
}
